USE [master]
GO
/****** Object:  Database [LoRa]    Script Date: 11/26/2024 8:56:59 AM ******/
CREATE DATABASE [LoRa]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'LoRa', FILENAME = N'D:\rdsdbdata\DATA\LoRa.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'LoRa_log', FILENAME = N'D:\rdsdbdata\DATA\LoRa_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [LoRa].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [LoRa]
GO
/****** Object:  User [admin]    Script Date: 11/26/2024 8:57:02 AM ******/
CREATE USER [admin] FOR LOGIN [admin] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_owner] ADD MEMBER [admin]
GO
/****** Object:  Schema [lr2]    Script Date: 11/26/2024 8:57:02 AM ******/
CREATE SCHEMA [lr2]
GO
/****** Object:  Table [lr2].[Gateway_location]    Script Date: 11/26/2024 8:57:02 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [lr2].[Gateway_location](
	[Node_ID] [varchar](50) NOT NULL,
	[Location] [varchar](50) NOT NULL,
	[Battery_status] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[Node_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [lr2].[Node]    Script Date: 11/26/2024 8:57:02 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [lr2].[Node](
	[Node_ID] [varchar](50) NOT NULL,
	[Time] [datetime] NOT NULL,
	[Pressure] [float] NULL,
	[Illumination] [float] NULL,
	[Humidity] [float] NULL,
	[Location] [varchar](50) NOT NULL,
	[Temperature_indor] [float] NULL,
	[Temperature_outdor] [float] NULL,
 CONSTRAINT [PK__Node__760B099DF7F54F07] PRIMARY KEY CLUSTERED 
(
	[Node_ID] ASC,
	[Time] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [lr2].[Gateway_location] ([Node_ID], [Location], [Battery_status]) VALUES (N'lht-gronau', N'Gronau', 2)
INSERT [lr2].[Gateway_location] ([Node_ID], [Location], [Battery_status]) VALUES (N'lht-saxion', N'Kerlinkawmut', 3)
INSERT [lr2].[Gateway_location] ([Node_ID], [Location], [Battery_status]) VALUES (N'lht-wierden', N'Wierden', 3)
GO
INSERT [lr2].[Node] ([Node_ID], [Time], [Pressure], [Illumination], [Humidity], [Location], [Temperature_indor], [Temperature_outdor]) VALUES (N'lht-gronau', CAST(N'2024-11-22T21:54:02.000' AS DateTime), NULL, 0, 100, N'Gronau', -0.18, NULL)
INSERT [lr2].[Node] ([Node_ID], [Time], [Pressure], [Illumination], [Humidity], [Location], [Temperature_indor], [Temperature_outdor]) VALUES (N'lht-gronau', CAST(N'2024-11-22T22:14:02.000' AS DateTime), NULL, 0, 100, N'Gronau', -0.38, NULL)
INSERT [lr2].[Node] ([Node_ID], [Time], [Pressure], [Illumination], [Humidity], [Location], [Temperature_indor], [Temperature_outdor]) VALUES (N'lht-gronau', CAST(N'2024-11-22T22:34:02.000' AS DateTime), NULL, 0, 100, N'Gronau', -0.6, NULL)
GO
ALTER TABLE [lr2].[Node]  WITH CHECK ADD  CONSTRAINT [FK__Node__Node_ID__38996AB5] FOREIGN KEY([Node_ID])
REFERENCES [lr2].[Gateway_location] ([Node_ID])
GO
ALTER TABLE [lr2].[Node] CHECK CONSTRAINT [FK__Node__Node_ID__38996AB5]
GO
USE [master]
GO
