mqtt_parser/.vs
mqtt_parser/bin
mqtt_parser/obj
WeatherThingyAPI/.vs
WeatherThingyAPI/WeatherThingyAPI/bin
WeatherThingyAPI/WeatherThingyAPI/obj
App/WeatherThingy/.vs
App/WeatherThingy/bin
App/WeatherThingy/obj
.gitignore.Zone.Ide